.board {
    border: 3px solid rgb(250, 231, 146);
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 50px);
    width: fit-content;
    margin: 0px auto;
  }