.tile{
    background: #fff;
    border: 1px solid #000;
    /* float: left; */
    margin: 0;
    font-size: 36px;
    line-height: 50px;
    padding: 0;
    text-align: center;
    border-radius: 0;
  }